<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "King and Country" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= link_to 'Sign Up', new_user_registration_path %>
    <%= link_to 'Sign In', new_user_session_path, id: 'sign_in' %>
    <% if user_signed_in? %>
      <%= link_to 'My Profile', user_path(current_user) , id: 'my_profile' %>
      <% if current_user.current_country %>
        <%= link_to 'City Center', country_city_path(current_user.current_country, current_user.city) %>
      <% else %>
        <%= link_to 'Join a Country', countries_path %>
      <% end %>
    <% end %>
    <div class="row">
      <%= yield %>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
